- var pageTitle = "Email";
doctype html
html(lang="en")
  head
    include pug/meta/meta
    title #{pageTitle}
    include pug/styles/styles
  body 
    .page.home-page
      include pug/layout/sidebar
      .content-area
        include pug/layout/header
        h1 #{pageTitle}
        include pug/layout/footer
    
    include pug/scripts/scripts