.emails-container,
.sidebar-menu-container {
  overflow-y: auto;
}
.emails-container {
  overflow-x: auto;
}
.emails-box {
  display: flex;
  height: calc(100vh - 168px);
  background-color: #fff;
  border: 1px solid #e0e6ed;
  border-radius: 6px;
  @media (max-width: 425px) {
    flex-direction: column;
    height: auto;
  }
  .sidebar-menu {
    width: 260px;
    border-right: 1px solid #e0e6ed;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 425px) {
      width: auto;
      border-bottom: 1px solid #e0e6ed;
    }
    .head {
      padding: 20px;
      button {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 6px;
        outline: none;
        background-color: $main_color;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
      }
    }
    .messages-categories {
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        color: #4e5154;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
        &.active {
          color: $main_color;
          border-left: 3px solid $main_color;
        }
        &:hover {
          color: $main_color;
        }
        .category {
          display: flex;
          align-items: center;
          p {
            margin-left: 5px;
            position: relative;
            top: -2px;
          }
        }
      }
    }
    .labels {
      padding: 20px;
      margin-top: 25px;
      h3 {
        color: #4e5154;
        font-size: 0.9rem
      }
      ul {
        padding: 25px;
        li {
          font-size: 0.9rem;
          position: relative;
          &:not(:last-of-type) {
            margin-bottom: 10px;
          }
          &::before {
            content: "";
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }
          &:first-of-type {
            &::before {
              background-color: #62D45E;
            }
          }
          &:nth-of-type(2) {
            &::before {
              background-color: #4E56D4;
            }
          }
          &:nth-of-type(3) {
            &::before {
              background-color: #EA5455;
            }
          }
          &:last-of-type {
            &::before {
              background-color: #FF9F43;
            }
          }
        }
      }
    }
  }
  .inbox-emails {
    flex: 1;
    input[type="checkbox"] {
      appearance: none;
      margin-right: 10px;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      border: 1px solid #e0e6ed;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3E%3Cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 70%;
      &:checked {
        background-color: $main_color;
        border-color: $main_color;
      }
    }
    .search-area {
      padding: 15px;
      border-bottom: 1px solid #e0e6ed;
      form {
        display: flex;
        align-items: center;
        span {
          height: 100%;
          background-color: #fff;
          color: #bfc3ce;
          margin-right: 10px;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          &::placeholder {
            color: #bfc3ce;
          }
        }
      }
    }
    .checked-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #e0e6ed;
      form {
        display: flex;
        align-items: center;
        label {
          font-size: 0.9rem;
          color: #4e5154;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        display: none;
        &.show-hide {
          display: block;
        }
        span {
          color: #4e5154;
          margin-right: 6px;
          cursor: pointer;
          
        }
      }
    }
    .my-emails {
      height: 60vh;
      > div {
        padding: 15px;
        &:not(:last-of-type) {
          border-bottom: 1px solid #e0e6ed;
        }
        .email-info {
          display: flex;
          justify-content: space-between;
          .user-info {
            display: flex;
            .image {
              max-width: 100%;
              margin-right: 8px;
              img {
                width: 40;
                height: 40px;
                border-radius: 50%;
              }
            }
            .name {
              color: #4e5154;
              h3 {
                font-size: 0.9rem;
              }
              p {
                font-size: 0.8rem;
              }
            }
          }
          .date {
            .color {
              margin-left: 8px;
              margin-right: 8px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
            span {
              display: inline-block;
              &:last-of-type {
                color: #bfc3ce;
                font-size: 0.8rem;
              }
            }
          }
        }
        .meassage-content {
          display: flex;
          align-items: center;
          span {
            margin-right: 10px;
            svg {
              width: 18px;
              height: 18px;
            }
          }
          .the-message {
            p {
              position: relative;
              top: -3px;
              color: #bfc3ce;
              font-size: 0.84rem;
            }
          }
        }
        &:first-of-type,
        &:nth-of-type(4) {
          .email-info {
            .date {
              .color {
                background-color: #28C76F;
              }
            }
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          .email-info {
            .date {
              .color {
                background-color: #EA5455;
              }
            }
          }
        }
        &:nth-of-type(5) {
          .email-info {
            .date {
              .color {
                background-color: #7367F0;
              }
            }
          }
        }
        &:nth-of-type(6) {
          .email-info {
            .date {
              .color {
                background-color: #FF9F43;
              }
            }
          }
        }
      }
    }
  }
}
