.charts {
  .first-line,
  .second-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      padding: 20px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font: {
            size: 0.9rem;
            weight: bold;
          }
          color: #6e6b7b;
        }
        svg {
          fill: #6e6b7b;
          cursor: pointer;
        }
      }
      .body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .info {
          margin-right: 90px;
          h2 {
            color: #6e6b7b;
            margin-bottom: 10px;
          }
          .up {
            color: #62d45e;
            svg {
              fill: #62d45e;
            }
          }
          .down {
            color: #ea5455;
            svg {
              fill: #ea5455;
            }
          }
          .number {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .second-line {
    margin-top: 30px;
    > div {
      .head {
        .right-arrow {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: #c7caf2;
          border-radius: 4px;
          svg {
            fill: $main_color;
          }
        }
      }
      .footer {
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #e0e6ed;
        border-radius: 6px;
        h5 {
          font: {
            weight: normal;
            size: 1rem;
          }
          color: #6e6b7b;
          span {
            color: $main_color;
          }
        }
        .special {
          svg {
            width: 760px;
          }
        }
        .infos {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          span {
            font-size: 0.8rem;
            color: #6e6b7b;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
          }
          .text-1 {
            &::before {
              right: 55px;
              background-color: $main_color;
            }
          }
          .text-2 {
            margin-left: 50px;
            &::before {
              right: 65px;
              background-color: #000;
            }
          }
        }
        .draw {
          margin-top: 40px;
        }
      }
      .foot {
        margin-top: 47px;
        margin-bottom: 67px;
      }
    }
    .infos {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 0.8rem;
        color: #6e6b7b;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
      .text-1 {
        &::before {
          right: 55px;
          background-color: $main_color;
        }
      }
      .text-2 {
        margin-left: 50px;
        &::before {
          right: 50px;
          background-color: #000;
        }
      }
    }
  }
}
.all-table-parts {
  overflow-x: auto;
}
.table-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > div {
      label {
        font-size: 0.8rem;
      }
      select {
        padding: 10px 25px;
        margin-left: 5px;
        margin-right: 20px;
        border: 1px solid #e0e6ed;
        border-radius: 4px;
        color: #6e6b7b;
        outline: none;
        &:focus {
          outline: none;
          border: 1px solid $main_color;
        }
      }
    }
    button {
      padding: 10px 25px;
      border: none;
      border-radius: 4px;
      outline: none;
      background-color: $main_color;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    label {
      font-size: 0.8rem;
    }
    input {
      margin-left: 5px;
      margin-right: 20px;
      padding: 10px;
      border: 1px solid #e0e6ed;
      border-radius: 4px;
      color: #6e6b7b;
      outline: none;
      &:focus {
        outline: none;
        border: 1px solid $main_color;
      }
    }
    select {
      padding: 10px 25px;
      margin-left: 5px;
      margin-right: 20px;
      border: 1px solid #e0e6ed;
      border-radius: 4px;
      color: #6e6b7b;
      outline: none;
      &:focus {
        outline: none;
        border: 1px solid $main_color;
      }
    }
  }
}
table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  thead {
    tr {
      th {
        border: none;
        padding: 10px;
        color: #6e6b7b;
        text-align: left;
      }
    }
  }
  tbody {
    background-color: #fff;
    border-radius: 6px;
    tr {
      &:first-of-type,
      &:nth-of-type(5),
      &:last-of-type {
        td {
          &:nth-of-type(2) {
            span {
              background-color: #e4f8ed;
              color: #62d45e;
            }
          }
        }
      }
      &:nth-of-type(2),
      &:nth-of-type(6) {
        td {
          &:nth-of-type(2) {
            span {
              background-color: #FFF3E7;
              color: #FF9F43;
            }
          }
        }
      }
      &:nth-of-type(3),
      &:nth-of-type(7) {
        td {
          &:nth-of-type(2) {
            span {
              background-color: #FCEAEA;
              color: #EB5D5E;
            }
          }
        }
      }
      &:nth-of-type(4),
      &:nth-of-type(8) {
        td {
          &:nth-of-type(2) {
            span {
              background-color: #E9EAFA;
              color: #4E56D4;
            }
          }
        }
      }
      &:nth-of-type(9) {
        td {
          &:nth-of-type(2) {
            span {
              background-color: #EFF0F0;
              color: #C6C8CA;
            }
          }
        }
      }
      td {
        padding: 15px;
        &:first-of-type {
          color: $main_color;
        }
        &:nth-of-type(2) {
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
        &:nth-of-type(3) {
          > div {
            display: flex;
            align-items: center;
            .image {
              max-width: 100%;
              margin-right: 15px;
              img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
              }
            }
            .title {
              p {
                font-size: 0.9rem;
              }
              span {
                font-size: 0.8rem;
                color: #6e6b7b;
              }
            }
          }
        }
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6) {
          font-size: 0.9rem;
        }
        &:nth-of-type(6) {
          .paid {
            background-color: #e4f8ed;
            color: #39cda6;
            padding: 8px;
            border-radius: 15px;
          }
        }
        &:last-of-type {
          color: #6e6b7b;
          span {
            cursor: pointer;
            &:nth-of-type(2) {
              margin-left: 10px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  .text {
    font: {
      size: 0.8rem;
      weight: bold;
    }
    color: #6e6b7b;
  }
  .controls {
    display: flex;
    align-items: center;
    span {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #EBEDF3;
      color: #6e6b7b;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
      }
    }
    ul {
      display: flex;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      background-color: #EBEDF3;
      border-radius: 30px;
      li {
        padding: 5px;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #6e6b7b;
        font-weight: bold;
        cursor: pointer;
        &.active {
          color: #fff;
          background-color: $main_color;
          border-radius: 50%;
        }
      }
    }
  }
}