* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: $page_backgroungColor;
}
ul,
ol {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 992px) {
    width: 960px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (min-width: 1400px) {
    width: 1320px;
  }
}
.page {
  .content-area {
    width: calc(100% - 240px);
    float: right;
    @media (max-width: 768px) {
      width: 100%;
      float: none;
    }
    .style {
      padding: 25px;
      @media (max-width: 425px) {
        padding: 10px;
      }
    }
  }
}
